@font-face {
  font-family: "Garet";
  src: url("fonts/Garet-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Garet";
  src: url("fonts/Garet-Heavy.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  font-family: Garet, sans-serif;
  height: 100%;
  margin: 0;
}

/*Login*/
.mainContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.loginContainer {
  background-color: rgba(255, 255, 255, 0.5);
  height: 380px;
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.helpContainer {
  display: flex;
  gap: 100px;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 20px;
}

#loginForm {
  padding: 30px;
}

.input {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
}

.left,
.right {
  flex: 1;
  padding: 20px;
}

.right {
  background-image: url(images/tecghibli.png);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleBlock {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #1b396b;
  border-radius: 50px;
  text-align: center;
  color: white;
  height: 150px;
  margin-top: 20px;
  font-size: 23px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.bodyBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 70%;
  font-size: 25px;
}

#copyright {
  display: flex;
  justify-content: center;
  font-size: 15px;
  left: 50%;
  height: 100%;
}

#login {
  margin-left: 15px;
  width: 405px;
  height: 60px;
  color: white;
  background-color: #1b396b;
  border-radius: 10px;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 0;
  border: 1px solid #1b396b;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Garet, sans-serif;
  letter-spacing: 5px;
}

#login:active {
  background-color: #2980b9;
  border-color: #2980b9;
}

#userText {
  height: 50px;
  margin-bottom: 20px;
  font-size: 26px;
  font-family: Garet, sans-serif;
}

#passwordText {
  height: 50px;
  font-size: 26px;
  font-family: Garet, sans-serif;
}

#forgot,
#register {
  color: white;
  border-color: transparent;
  cursor: pointer;
  font-family: Garet, sans-serif;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  text-decoration: none;
}

#register:active,
#forgot:active {
  text-decoration: underline;
}

/*Main*/
nav {
  background-color: #1b396b;
  text-decoration: none;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 18px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:first-child {
  margin-left: 0;
}

nav a:last-child {
  margin-left: auto;
}

.middle-content {
  display: flex;
  margin-left: -60%;
}

.dropdown-e {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.dropbtn-e {
  background-color: #1b396b;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-content-e {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  top: 33px;
}

.dropdown-content-e a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-e a:hover {
  background-color: #ddd;
}

.dropdown-e:hover .dropdown-content-e {
  display: block;
}

.dropdown-e:hover .dropbtn-e {
  background-color: #2980b9;
}

.dropdown-u {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.dropbtn-u {
  background-color: #1b396b;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-content-u {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  top: 50px;
  left: -100px;
}

.dropdown-content-u a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-u a:hover {
  background-color: #ddd;
}

.dropdown-u:hover .dropdown-content-u {
  display: block;
}

.icono-casa {
  width: 40px;
  height: auto;
  margin-top: 5px;
}

.icono-user {
  width: 50px;
  height: auto;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

.pageContent {
  display: flex;
  flex: 1;
}

.leftSide,
.rightSide {
  flex: 1;
  width: 50%;
  height: 75vh;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 125px;
  margin-right: 125px;
}

.bienvenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b396b;
  color: white;
  margin-top: 80px;
  margin-left: 100px;
  width: 560px;
  padding: 20px;
  border-radius: 100px;
  font-size: 25px;
}

.social {
  background-color: #EEF0F4;
  width: 500px;
  margin-left: 100px;
  margin-top: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
}

.social .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social img {
  width: 50px;
  height: auto;
  margin: 10px;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: none;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  position: relative;
  object-fit: cover;
}

.slide img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 100px;
}

.carousel-btn.prev {
  left: 5px;
}

.carousel-btn.next {
  right: 5px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #A7ADB9;
  cursor: pointer;
  border: none;
}

.indicator.active {
  background: #1b396b;
}

.noticias {
  display: flex;
  color: white;
  background-color: #1b396b;
  width: 225px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
  margin: 20px;
}

.footer {
  text-align: center;
  background-color: #1b396b;
  color: white;
  font-size: 13px;
  width: 35%;
  margin: 0 auto 10px auto;
  border-radius: 30px;
}

/* Register */
.registerContainer {
  background-color: #EEF0F4;
  width: 40%;
  min-height: 75%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  font-size: 35px;
  font-weight: bold;
  color: white;
  background-color: #1b396b;
  border-radius: 25px;
  width: 60%;
  height: 75px !important;
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 5px;
}

#registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#registerForm input {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 50px;
  margin-bottom: 5%;
  border: 1px solid #ddd;
  font-size: 20px;
  font-family: Garet, sans-serif;
}

#registerBtn {
  width: 50%;
  height: 60px !important;
  background-color: #1b396b;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  font-family: Garet, sans-serif;
  transition: background-color 0.3s ease;
  letter-spacing: 5px;
}

#registerBtn:active {
  background-color: #2980b9;
}

.regresar {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 20px;
  padding: 10px;
}

/*Anuncio*/
#anuncio {
  padding: 5%;
  background-color: #EEF0F4;
  width: 50%;
  margin-inline: 20%;
  margin-block: 5%;
  text-align: center;
  font-size: 2vh;
  border-radius: 20px;

}

#title {
  font-size: 3vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

#realizar{
  background-color: #1b396b;
  border-color: transparent;
  color:white;
  font-size: 4vh;
  padding: 2vh;
  margin-inline: 40%;
  border-radius: 20px;
  cursor: pointer;
}

#realizar:active{
  background-color: #2980b9;
}

/*Acceso denegado*/
#permiso {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

/*Docentes*/
#text {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.tokenDocentes {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  gap: 2%;
}

#tokenInput {
  width: auto;
  height: 5vh;
}

#buscarDocentes {
  background-color: #1b396b;
  color: white;
  border: transparent;
  width: 18vh;
}

#buscarDocentes:active {
  border: transparent;
  background-color: #2980b9;
}

#nombre-docente {
  background-color: #EEF0F4;
  width: 30vh;
  height: 5vh;
}

#boton-docente {
  color:white;
  background-color: #1b396b;
  border-color: transparent;
  width: 15vh;
  height: 5vh;
}

#boton-docente:active {
  background-color: #2980b9;
}

#contenedor-finalizar {
  display:flex;
  justify-content: center;
  margin-top: 5%;
}

#finalizar {
  color:white;
  background-color: rgb(226, 34, 34);
  border-color: transparent;
  width: 25%;
  height: 5vh;
}

#advertencia {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  text-align: center;
  
}

/*Formulario*/
#contenedor-formulario {
  background-color: #EEF0F4;
  display:flex;
  margin-inline: 25%;
  border-radius: 20px;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2% !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#eval-title {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

#disclaimer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#finalizar_evaluacion {
  background-color: #1b396b;
  border-color: transparent;
  color: white;
  font-size: 2vh;
  float: right;
}