@font-face {
  font-family: "Garet";
  src: url("fonts/Garet-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Garet";
  src: url("fonts/Garet-Heavy.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  font-family: Garet, sans-serif;
  height: 100%;
  margin: 0;
}

/*=============================== Login ===============================*/
.left,
.right {
  flex: 1;
  padding: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.right {
  background-image: url(images/tecghibli.png);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/*izquierda*/
.titleBlock {
  display: flex;
  align-items: center;
  width: 95%;
  background-color: #1b396b;
  border-radius: 10vh;
  color: white;
  height: 15vh;
  font-size: 2.1vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  margin-top: 2vh;
}

.bodyBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 77vh;
  font-size: 2.2vh;
}

#copyright {
  font-size: 1.7vh;
}

/*derecha*/
.loginContainer {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.helpContainer {
  display: flex;
  margin-top: 5px;
  margin-left: 15px;
  width: 91%;
  justify-content: space-between;
}

#loginForm {
  padding: 30px;
}

#log {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  margin-top: 0;
  margin-left: 23px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 91%;
}

#login {
  width: 91%;
  height: 50px;
  color: white;
  background-color: #1b396b;
  border: #1b396b;
  font-size: 20px;
  margin-bottom: 1vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
  letter-spacing: 5px;
  font-family: Garet, sans-serif;
}

#login:active {
  background-color: #2980b9;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userInput,
#passwordInput {
  height: 40px;
  font-size: 20px;
  font-family: Garet, sans-serif;
  margin-bottom: 20px;
  width: 90%;
}

#forgot,
#registro {
  margin-left: 9px;
  color: white;
  cursor: pointer;
  font-family: Garet, sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 1;
  display: flex;
  text-align: center;
  align-items: center;
}

#registro:active,
#forgot:active {
  text-decoration: underline;
}

/* =============================== Login MOVIL =============================== */
@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left,
  .right {
    flex: 1;
    overflow: hidden;
  }

  .left {
    display: none;
  }

  .right {
    width: 100%;
    height: 100vh;
  }

  .loginContainer {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3vh;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #userInput,
  #passwordInput {
    display: flex;
    height: 40px;
    font-size: 15px;
    font-family: Garet, sans-serif;
    margin-bottom: 20px;
    width: 100%;
  }

  #login {
    height: 40px;
    color: white;
    background-color: #1b396b;
    border: transparent;
    font-size: 15px;
    margin-bottom: 1vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
    letter-spacing: 5px;
    font-family: Garet, sans-serif;
    width: 100%;
  }

  #log {
    margin: 0;
    margin-bottom: 2vh;
    width: 100%;
  }

  .helpContainer {
    gap: 10%;
    margin-left: 0;
  }

  #forgot,
  #registro {
    font-size: 12px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

}

/* =============================== NavBar =============================== */
nav {
  background-color: #1b396b;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 18px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:first-child {
  margin-left: 0;
}

nav a:last-child {
  margin-left: auto;
}

.middle-content {
  display: flex;
  margin-left: -70%;
}

/* Estilos generales para dropdowns */
.dropdown-e,
.dropdown-u {
  position: relative;
  display: inline-block;
  margin: 0 20px;
}

.dropbtn-e,
.dropbtn-u {
  background-color: #1b396b;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-content-e,
.dropdown-content-u {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content-e {
  min-width: 225px;
}

.dropdown-content-u {
  min-width: 180px;
}

.dropdown-content-e a,
.dropdown-content-u a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-e a:hover,
.dropdown-content-u a:hover {
  background-color: #ddd;
}

/* Posición específica de los menús desplegables */
.dropdown-content-e {
  top: 33px;
}

.dropdown-content-u {
  top: 50px;
  left: -100px;
}

/* Mostrar contenido al hacer hover */
.dropdown-e:hover .dropdown-content-e,
.dropdown-u:hover .dropdown-content-u {
  display: block;
}

.dropdown-e:hover .dropbtn-e {
  background-color: #2980b9;
}

.icono-home,
.icono-user {
  width: 40px;
  height: auto;
}

/* =============================== NavBar MOVIL =============================== */
@media (max-width: 768px) {
  nav {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
  }

  .middle-content {
    flex: 1;
    display: flex;
    margin: 0 10px;
    flex-wrap: wrap;
  }

  .dropdown-e,
  .dropdown-u {
    margin: 5px;
  }

  .dropbtn-e,
  .dropbtn-u {
    font-size: 14px;
    padding: 8px 12px;
  }

  .dropdown-content-e,
  .dropdown-content-u {
    min-width: 170px;
    font-size: 14px;
  }

  .dropdown-content-e {
    min-width: 170px;
  }

  .dropdown-content-u {
    top: 40px;
    min-width: 150px;
  }

  .icono-home,
  .icono-user {
    width: 30px;
  }
}

/* =============================== Main =============================== */
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

.pageContent {
  display: flex;
  flex: 1;
}

.leftSide,
.rightSide {
  flex: 1;
  width: 50%;
  height: 75vh;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.bienvenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b396b;
  color: white;
  width: 80%;
  padding: 20px;
  border-radius: 100px;
  font-size: 25px;
}

.social {
  background-color: #EEF0F4;
  width: 73%;
  margin-top: 2vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
}

.social .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social img {
  width: 50px;
  height: auto;
  margin: 10px;
}

.noticias {
  display: flex;
  color: white;
  background-color: #1b396b;
  width: 25%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 7%;
  font-size: 20px;
  border-radius: 50px;
  margin-bottom: 3vh;
}

.carousel-container {
  position: relative;
  width: 80%;
  max-width: none;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  position: relative;
  object-fit: cover;
}

.slide img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 100px;
}

.carousel-btn.prev {
  left: 5px;
}

.carousel-btn.next {
  right: 5px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #A7ADB9;
  cursor: pointer;
  border: none;
}

.indicator.active {
  background: #1b396b;
}

.footer {
  text-align: center;
  background-color: #1b396b;
  color: white;
  font-size: 13px;
  width: 35%;
  margin: 0 auto 10px auto;
  border-radius: 30px;
}

/* =============================== Main MOVIL =============================== */
@media (max-width: 768px) {
  .pageContent {
    flex-direction: column;
  }

  .leftSide,
  .rightSide {
    width: 100%;
    height: auto;
  }

  .leftContent,
  .rightContent {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .bienvenido {
    width: 85%;
    padding: 0;
    font-size: 14px;
    flex-direction: row;
  }

  .social {
    width: 90%;
    font-size: 12px;
    padding: 10px;
  }

  .social .social-icons {
    gap: 0;
  }

  .social img {
    width: 30px;
  }

  .noticias {
    width: 80%;
    font-size: 15px;
  }

  .carousel-container {
    width: 90%;
  }

  .carousel-btn {
    padding: 5px 7px;
  }

  .indicator {
    width: 8px;
    height: 8px;
  }

  .footer {
    margin-top: 3%;
    width: 90%;
    font-size: 10px;
  }
}

/* =============================== Register =============================== */
.background-image {
  background-image: url(images/aguila.jpg);
  /* background-image: cover;
  background-position: center;
  background-repeat: no-repeat;  */
}

.registerContainer {
  background-color: rgba(238, 240, 244, 0.5);
  width: 600px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  font-size: 35px;
  font-weight: bold;
  color: white;
  width: 500px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 5px;
}

#registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#registerForm input {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 50px;
  margin-bottom: 5%;
  border: 1px solid #ddd;
  font-size: 20px;
  font-family: Garet, sans-serif;
}

#registerBtn {
  height: 50px;
  width: 500px;
  background-color: #1b396b;
  color: white;
  border: none;
  font-size: 25px;
  cursor: pointer;
  display: inline-block;
  font-family: Garet, sans-serif;
  transition: background-color 0.3s ease;
  letter-spacing: 2px;
}

#registerBtn:active {
  background-color: #2980b9;
}

.regresar {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

#main {
  color: #1b396b;
}

/* =============================== Register MOVIL =============================== */
@media (max-width: 768px) {
  .background-image {
    background-image: url(images/pixelaguila.webp)
  }

  .registerContainer {
    width: 70%;
    height: 50%;
  }

  @media (orientation: landscape) {
    .registerContainer {
      width: 50%;
      height: 60%;
    }
  }

  #register {
    width: 180px;
    font-size: 15px;
    margin-bottom: 2%;
    text-align: center;
    margin: 0;
    margin-bottom: 2%;
  }

  #registerForm input {
    width: 100%;
    height: 6vh;
    font-size: 2vh;
    margin-bottom: 2%;
  }

  .input-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  #registerBtn {
    width: 100%;
    font-size: 12px;
    height: fit-content;
  }

  .regresar {
    margin-right: 0;
    text-align: center;
    width: 100%;
    font-size: 10px;
    margin-top: 2%;
  }
}

/* =============================== Anuncio =============================== */
#anuncio {
  padding: 5%;
  background-color: #EEF0F4;
  width: 50%;
  margin-inline: 20%;
  margin-block: 5%;
  text-align: center;
  font-size: 2vh;
  border-radius: 20px;

}

#title {
  font-size: 3vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

#realizar {
  background-color: #1b396b;
  border-color: transparent;
  color: white;
  font-size: 4vh;
  padding: 2vh;
  margin-inline: 40%;
  border-radius: 20px;
  cursor: pointer;
}

#realizar:active {
  background-color: #2980b9;
}

/* =============================== Acceso denegado ===============================  */
#permiso {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

/* =============================== Docentes =============================== */
#text {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

#advertencia {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.tabla {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.tokenDocentes {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  gap: 2%;
}

#tokenInput {
  width: auto;
  height: 5vh;
}

#buscarDocentes {
  background-color: rgb(129, 46, 51);
  color: white;
  border: transparent;
  width: 18vh;
  border-radius: 3vh;
}

#buscarDocentes:active {
  border: transparent;
  background-color: rgb(173, 88, 94)
}

#nombre-docente {
  background-color: #EEF0F4;
  width: 30vh;
  height: 5vh;
}

#boton-docente {
  color: white;
  background-color: #1b396b;
  border-color: transparent;
  width: 15vh;
  height: 5vh;
}

#boton-docente:active {
  background-color: #2980b9;
}

#contenedor-finalizar {
  display: flex;
  justify-content: end;
  margin-top: 5%;
}

#imprimir {
  color: white;
  background-color: #2E8181;
  border-color: transparent;
  width: 10%;
  height: 5vh;
  cursor: pointer;
  border-radius: 3vh;
  margin: 2vh;
}

#imprimir:active {
  background-color: #509999;
}



/* #finalizar {
  color: white;
  background-color: #b81868;
  border-color: transparent;
  width: 8%;
  height: 5vh;
  cursor: pointer;
  border-radius: 3vh;
  margin: 2vh;
}

#finalizar:active {
  background-color: #ce5e96;
} */

/* =============================== Docentes MOVIL =============================== */
@media (max-width: 768px) {

  #text,
  #advertencia,
  #buscarDocentes,
  #tokenInput,
  #imprimir {
    font-size: 10px;
  }

  #imprimir {
    width: fit-content;
  }
}

/* =============================== Formulario =============================== */
#contenedor-formulario {
  background-color: #EEF0F4;
  display: flex;
  margin-inline: 25%;
  border-radius: 20px;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2% !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#eval-title {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

#disclaimer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#finalizar_evaluacion {
  background-color: #1b396b;
  border-color: transparent;
  color: white;
  font-size: 2vh;
  float: right;
  cursor: pointer;
}

/* =============================== Formulario MOVIL =============================== */
@media (max-width: 768px) {
  #eval-title {
    text-align: center;
  }

  #disclaimer {
    text-align: center;
  }

  #contenedor-formulario {
    width: 90%;
    margin-inline: 5%;
  }

  #contenedor-finalizar {
    display: flex;
    justify-content: center;
  }

  #finalizar_evaluacion {
    width: 40%;
    font-size: 15px;
    border-radius: 10px;
  }
}

/* =============================== Estadísticas =============================== */
/* .showStats {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#mostrar-estadisticas,
#ver-evaluaciones {
  border: transparent;
  border-radius: 5vh;
  background-color: rgb(214, 43, 43);
  color: white;
  font-family: Garet, 'sans-serif';
  font-size: 2vh;
  padding: 2vh;
}

#mostrar-estadisticas:active,
#ver-evaluaciones:active {
  background-color: rgb(230, 100, 100);
} */